

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb-Regular.eot');
    src: local('../fonts/Titillium Web Regular'), local('TitilliumWeb-Regular'),
        url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
        url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb-Italic.eot');
    src: local('../fonts/Titillium Web Italic'), local('TitilliumWeb-Italic'),
        url('../fonts/TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitilliumWeb-Italic.woff') format('woff'),
        url('../fonts/TitilliumWeb-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

