@import "fonts";
@import "reboot";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$dark: #3c4761;

h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5625em;
  letter-spacing: 3.5px;
  position: relative;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.showed {
  transform: translate(0,0) !important;
  opacity: 1 !important;
}
.hidden {
  transform: translate(0,-50px) !important;
  opacity: 0 !important;
}

.hide {
  position: absolute;
  width: 100%;
  top: 0;
  height: 0;
  z-index: 10;
  transition: .3s ease-in-out;
}
.hide_start_animate {
  height: 100%;
}
.hide_finish_animate {
  top: auto;
  bottom: 0;
  height: 0;
}

.burger {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;
  &__active .burger__layer {
    width: 40%;
  }
  &__active .burger__layer:nth-child(2) {
    width: 100%;
    left: 50%;
  }
  &__active .burger__layer:nth-child(2) {
    width: 100%;
  }
  &__layer {
    width: 80%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    transition: .3s;
    &:first-child {
      top: 0;
      align-self: flex-end;
      left: 0;
    }
    &:nth-child(2) {
      width: 40%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &:last-child {
      bottom: 0;
      align-self: flex-start;
      right: 0;
    }
  }
}

.header__menu-list_visible {
  width: 150px !important;
  opacity: 1 !important;
}

.header {
  background: #87509c;
  width: 100%;
  margin: 0 auto;
  padding: 3.5625em 5.6em;
  &__top-content {
    padding: 0 .5em 0 2.625em;
    position: relative;
    @include flex-sb;
  }
  &__menu {
    align-self: flex-start;
    &-list {
      display: flex;
      list-style-type: none;
      & a {
        color: #ffffff;
        white-space: nowrap;
        user-select: none;
      }
    }
    &-item {
      text-transform: uppercase;
      padding: .3125em 1.0625em;
      margin: 0 5px;
      border-radius: 4px;
      transition: .3s;
      cursor: pointer;
      &:hover {
        background-color: #643a79;
      }
      &:nth-child(4) {
        margin-right: 8px;
      }
      &:last-child {
        margin-right: 1px;
      }
    }
  }
  &__info {
    text-align: center;
    margin-top: 128px;
    & h1 {
      color: #f7f3ea;
      font-size: 2.625em;
      line-height: 48.82px;
      font-weight: 700;
    }
  }
  &__button {
    background-color: #eb7d4b;
    border-bottom:4px solid #c86a40;
  }
}
.button_large {
  width: 293px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin: 3.4375em auto;
  display: block;
  letter-spacing: 0.27px;
  font-size: 1.125em;
  text-transform: uppercase;
  border-radius: 1px;
  cursor: pointer;
  &:hover {
    border-bottom:4px solid transparent;
    border-top:4px solid #c86a40;
  }
}

// SERVICES


section {
  padding: 103px 0 126px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.services {
  & .hide {
    background: #87509c;
  }
  background-color: #17c2a4;
  & .section__item {
    &:nth-child(odd) {
      transform: translate(0,-50px);
    }
    &:nth-child(even) {
      transform: translate(0,50px);
    }
  }
}
.section__header {
  position: relative;
  & h2, p {
    opacity: 0;
  }
  & h2:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15;
  }
  & p {
    font-size: 1.125em;
    letter-spacing: 0.36px;
    margin-top: 1.625em;
  }
}
.section__item_small {
  width: 23.6363636%;
}
.section__item_large {
  width: 49.1818182%;
}
.section {
  &__content {
    @include flex-sb;
    align-items: flex-start;
    margin-top: 4.75em;
  }
  &__item {
    transition: 1s;
    opacity: 0;
  }
  &__logo {
    margin-bottom: 30px;
    &_icon {
      height: 160px;
    }
    &_circle {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin: 0 auto 39px;
      & img {
        border-radius: inherit;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__info {
    & h3 {
      font-size: 1.5em;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
    }
    & p {
      line-height: 24px;
      letter-spacing: 0.32px;
      margin-top: 21px;
      white-space: nowrap;
    }
  }
}

// TEAM
.team {
  background-color: #e7f1f8;
  color: $dark;
  & .hide {
    background: #17c2a4;
  }
  & .section__item {
    transform: translate(0,-80px);
  }
  &__header {
    & h2:after {
      background-color: #bdd1df;
      opacity: 0.75;
    }
  }
  .section__position {
    color: #30bae7;
    line-height: 18px;
    letter-spacing: 0.32px;
    margin-top: 13px;
  }
  & .section__header p {
    margin-top: 1.7em;
  }
  &__icons {
    @include flex-center;
    margin-top: 27px;
  }
  &__icon {
    display: block;
    background-color: #bdd1df;
    width: 32px;
    height: 32px;
    @include flex-center;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    transition: .3s;
    &:hover {
      background: #6BBADF;
    }
  }
}

// SKILLS

.skills {
  color: $dark;
  padding: 101px 0 117px;
  & .hide {
    background: #e7f1f8;
  }
  & .section__item {
    transform: translate(-200px ,0);
  }
  & .section__content {
    margin-top: 79px;
  }
  &__level {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    @include flex-center;
    font-size: 3.125em;
    overflow: hidden;
    position: relative;
    &_1 {
      background: #30bae7;
    }
    &_2 {
      background: #d74680;
    }
    &_3 {
      background: #15c7a8;
    }
    &_4 {
      background: #eb7d4b;
    }
    & p {
      position: absolute;
      z-index: 10;
      background: #fff;
      width: 83%;
      height: 83%;
      border-radius: 50%;
      @include flex-center;
      vertical-align: bottom;
      & span {
        font-size: 2rem;
      }
    }
  }
  & .section__item h3 {
    font-size: 1.5em;
    letter-spacing: 0.48px;
    margin-top: 21px;
    text-transform: uppercase;
  }
}
.diagram {
  background: #dfe8ed;
  position: absolute;
  height: 100%;
  width: 50%;
  transform: rotate(0deg);
  transition: 1.2s linear;
}
.diagram-fast {
  transition: .6s linear;
}
.diagram-momental {
  transition: 0s;
}
.diagram-right {
  left: 50%;
  transform-origin: left;
}
.diagram-left {
  left: 0;
  transform-origin: right;
}

// PORTFOLIO

.portfolio {
  color: #393939;
  background: #ffdd99;
  padding: 103px 0 109px;
  & .hide {
    background: #ffffff;
  }
  & .section__item {
    &:nth-child(odd) {
      transform: translate(-200px ,0);
    }
    &:nth-child(even) {
      transform: translate(200px ,0);
    }
  }
  &__content {
    flex-wrap: wrap;
    margin-top: 64px;
    & p {
      font-size: 1.125em;
      line-height: 19.5px;
      text-transform: uppercase;
      letter-spacing: 0.36px;
      margin-top: 21px;
    }
  }
  &__buttons {
    margin-top: 39px;
  }
  &__button {
    width: 90px;
    height: 38px;
    color: #393939;
    line-height: 19.5px;
    font-size: 1.125em;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    border-radius: 4px;
    background: #ebcb8d;
    border:none;
    transition: .3s;
    cursor: pointer;
    margin: 0 3px;
    outline: none;
    &:hover {
      background: #ffffff;
    }
    &_active {
      background: #ffffff;
    }
  }
}
.portfolio__item-logo img{
  max-width: 100%;
}
.portfolio .section__item_large {
  margin-bottom: 62px;
}
.portfolio__button_large {
  background: #17c2a4;
  color: #f0fbf9;
  border-bottom: 4px solid #14a58b;
  margin: 20px auto 0;
  &:hover {
    border-bottom:4px solid transparent;
    border-top:4px solid #14a58b;
  }
}

// REVIEWS

.reviews {
  background: #d74680;
  & .hide {
    background: #fd9;
  }
  & .section__item {
    &:nth-child(odd) {
      transform: translate(-200px ,0);
    }
    &:nth-child(even) {
      transform: translate(200px ,0);
    }
  }
  &__content {
    flex-wrap: wrap;
    margin-top: 63px;
    margin-bottom: -138px;
  }
  &__item {
    text-align: left;
    margin-bottom: 100px;
  }
  &__item-content {
    @include flex-sb;
  }
  &__item-logo {
    @include flex-center;
    align-self: flex-start;
    width: 96px;
    height: 96px;
    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  &__item-description {
    width: 73.5%;
    padding-left: 10px;
  }
}
.review {
  font-size: 1.3125em;
  font-style: italic;
  line-height: 31.2px;
  letter-spacing: 0.7px;
  margin-top: 6px;
  &__name {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    margin-top: 21px;
  }
  &__position {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.6px;
    color: #fac996;
  }
}

// CONTACT-US

.contact-us {
  background: #3c5499;
  padding-bottom: 115px;
  & .hide {
    background: #d74680;
  }
  & form {
    margin-top: 74px;
    opacity: 0;
    transition: 1s;
    transform: translate(0,-100px);
    & input, textarea {
      width: 37.5%;
      margin: 0 1.7%;
      padding: 17px 23px;
      border: none;
      background: #273a71;
      color: #fff;
      font-size: 1.125em;
      &::-webkit-input-placeholder {color:#fff;}
      &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
      &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:#fff;}
    }
    & textarea {
      display: block;
      width: 78.8%;
      margin: 28px auto;
      resize: none;
      height: 200px;
    }
  }
  &__button {
    border: none;
    color: #fff;
    margin: 59px auto 0;
    background: #30bae7;
    border-bottom: 4px solid #299ec4;
    &:hover {
      border-bottom:4px solid transparent;
      border-top:4px solid #299ec4;
    }
  }
}


@media only screen and (max-width: 1100px) {
  .header__info h1 {
    font-size: 2em;
  }
  .review {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .reviews  {
    padding: 50px 0 150px;
  }
  .reviews .section__item_large {
    width: 45%;
  }
  .reviews__content {
    padding: 0 40px;
  }
  .reviews__item {
    margin-bottom: 55px;
  }
  .contact-us {
    padding: 50px 20px 50px;
  }
}
@media only screen and (max-width: 980px) {
  body {
    font-size: 15px;
  }
  .header__menu-list {
    align-self: center;
  }
}

@media only screen and (max-width: 900px) {
  .burger {
    display: block;
  }
  .header__menu-list {
    display: block;
    flex-direction: column;
    background: #c64dc7;
    position: absolute;
    right: 40px;
    overflow: hidden;
    padding: 5px;
    width: 0;
    opacity: 0;
    transition: .3s;
  }
  .header__menu-item {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  .services .section__content {
    flex-wrap: wrap;
  }
  .services .section__item_small {
    width: 50%;
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  .team .section__content {
    flex-wrap: wrap;
  }
  .team .section__item {
    width: 50%;
    margin-bottom: 90px;
  }
  .team .section__info  {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .header {
    padding: 3em 1em;
    &__logo img {
      width: 85px;
    }
  }
  .button_large {
    width: 210px;
    height: 50px;
    line-height: 50px;
  }
  .services .section__item_small {
    width: 50%;
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .skills__level {
    width: 140px;
    height: 140px;
  }
  .portfolio {
    padding: 50px 20px 50px;
  }
}

@media only screen and (max-width: 680px) {
  .header__info h1 {
    font-size: 1.8em;
  }
  .header__menu-item {
    padding: .3125em .5em;
  }
  section {
    padding: 30px 0 30px;
  }
  .team .section__info  {
    font-size: 1rem;
  }
  .skills {
    padding: 50px 0 0;
  }
  .skills .section__content {
    flex-wrap: wrap;
  }
  .skills .section__item {
    width: 50%;
    margin-bottom: 50px;
  }
  .skills__level {
    width: 170px;
    height: 170px;
  }
  .reviews .section__item_large {
    width: 100%;
  }
  .review {
    font-size: 1.4em;
  }
  .reviews__content {
    margin-top: 30px;
  }
  .contact-us .section__header p {
    width: 350px;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 535px) {
  .header__info h1 {
    line-height: 1.5em;
    font-size: 1.5em;
  }
  .services .section__item_small {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 60px;
  }
  .section .section__header p {
    width: 320px;
    margin: 1.625em auto 0;
  }
  h2 {
    font-size: 1.8em;
  }
  .services .section__logo {
    margin-bottom: 0;
  }
  .team .section__header p {
    width: 320px;
    margin: 1.7em auto 0;
  }
  .team .section__content {
    flex-wrap: wrap;
  }
  .team .section__item {
    width: 100%;
  }
  .team .section__info  {
    font-size: 1.2rem;
  }
  .skills__level {
    width: 150px;
    height: 150px;
  }
  .skills .section__item h3 {
    font-size: 1.2em;
  }
  .portfolio__button {
    width: 70px;
    height: 30px;
  }
  .portfolio__content {
    padding:0 40px;
  }
  .portfolio .section__item_large {
    width: 100%;
  }.reviews__content {
     padding: 0 20px;
   }
  .review {
    margin-left: auto;
  }
  .reviews__item-description {
    font-size: .9em;
  }
  .contact-us form input, .contact-us form textarea {
    display: block;
    width: 100%;
    margin: 20px auto;
  }
  .contact-us .section__header p {
    width: 265px;
  }

}
@media only screen and (max-width: 400px) {
  .team h2 {
    font-size: 1.4em;
  }
  .skills__level {
    width: 130px;
    height: 130px;
  }
  .portfolio__button {
    width: 55px;
    height: 30px;
    font-size: .9em;
  }
  .portfolio__content {
    padding:0 20px;
  }
}
